@font-face {
  font-family: 'Excalifont';
  src: url('Excalifont-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  overflow: hidden;
}

#container {
  position: relative;
  transform-origin: 0 0;
  /* transform: translateX(50%); */
  /* pointer-events: none; */
}
