@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Brand colors */
  --ic-primary: #6a58f2;
  --ic-primary-light: #8a76f4;
  --ic-error: #ff4d4f;

  /* Grayscale */
  --ic-gray-100: #f8f9f9;
  --ic-gray-200: #e3e5e8;
  --ic-gray-300: #c7ccd1;
  --ic-gray-400: #9099a4;
  --ic-gray-500: #4f5660;
  --ic-gray-600: #2e3338;
  --ic-gray-700: #060607;

  /* UI settings */
  --ic-font-family: "Figtree", sans-serif;
  --ic-menu-border-radius: 12px;
  --ic-menu-tooltip-border-radius: 6px;
  --ic-transition-duration: 150ms;
  --ic-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Selection/highlight styles */
  --ic-highlighted-block-outline-color: var(--ic-primary);
  --ic-highlighted-block-outline-width: 1.5px;
  --ic-highlighted-block-outline-offset: -1px;
  --ic-highlighted-block-border-radius: 2px;
  --ic-selection-box-bg: #5865f222;
  --ic-text-selection-color: var(--ic-primary-light);
}

/* Block highlight styles for hovered/selected state */
.ic-block[data-hovered] > *,
.ic-block[data-selected] > * {
  outline: calc(var(--ic-highlighted-block-outline-width) / var(--ic-zoom, 1))
    solid var(--ic-highlighted-block-outline-color);
  outline-offset: calc(
    var(--ic-highlighted-block-outline-offset) / var(--ic-zoom, 1)
  );
  border-radius: calc(
    var(--ic-highlighted-block-border-radius) / var(--ic-zoom, 1)
  );
}

.ic-block[data-held-by-other] > * {
  outline: calc(3px / var(--ic-zoom, 1)) solid var(--ic-held-by-color);
  outline-offset: calc(2px / var(--ic-zoom, 1));
  border-radius: calc(
    var(--ic-highlighted-block-border-radius) / var(--ic-zoom, 1)
  );
}

.ic-root {
  font-family: var(--ic-font-family);
}

.ic-root ::selection {
  background-color: var(--ic-text-selection-color);
}

